 #map {
  height: 100%;
}

html, body {
  margin-top: 100px;
  padding-top: 100px;
  height: 100%; 
  margin-top: 30px;
  padding: 0; 
}
 
.img-fluid{
    height: 100%;
    width: 100%;
    display: table-cell;
    margin-left: 50px;
    vertical-align: middle;
    border:0;
}

.top-left {
  position: absolute;
  top: 80px;
  left: 15px;
  color:white;
  font-size: 40px;
}
 
.imgButton{
    text-align:center;
}

.imgContainer{ 
    justify-content: center;
}

.card-deck {
  width: 18rem;
  text-align: center;
  display: flex;
}

.container-form-signup {
  display: inline-block;
  position: relative;
  margin-top: 10rem;
}

.container-form-search{
  display: inline-block;
  position: relative;
  margin-top: 10rem;
}

.container-form-share{
  display: inline-block;
  position: relative;
}
 
body {
 font-family: 'Arvo', serif;
 font-size: 16px;
 text-align: center;
 font-color:yellow;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Lato', sans-serif;
 font-size: 16px;
}

.text-success {
  color:  #228B22 !important;
  font-size: bold;
}

.form-text{
  margin-top:7rem;
}

.small, small {
    font-size: 100%;
    font-weight: 800;
}

.btn-primary {
    background-color: #9ACD32 !important;
    font-color: white;
    border: yellow; 
}

.btn-primary:hover{
  background-color: #80cee1 !important;
}

.navbar-brand {
  color:#ffffbf !important; 
  left: 100; 
  font-size: 2.25rem;
}

.navbar {
  padding-top: 2rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
}

.no-padding {
   padding-left: 0;
   padding-right: 0;
}

.home-image{
  background: url(/static/images/farmersmarket.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.search-image{ 
  background: url(/static/images/cooking.jpg) no-repeat center center fixed;
  height: 120%;
  width: 100%;
  background-size: cover;
  position: absolute;
  opacity: .4;
 }

 .share-image{ 
  background: url(/static/images/cooking2.jpg) no-repeat center center fixed;
  height: 200%;
  width: 100%;
  background-size: cover;
  position: absolute;
  opacity: .4;
 }

.signup-image{ 
  background: url(/static/images/berries.jpg) no-repeat center center fixed;
  height: 100%;
  width: 100%;
  background-size: cover; 
  position: absolute;
  opacity:.4;
 }

.search-results-image{ 
background: url(/static/images/cooking3.jpg) no-repeat center center fixed;
height: 200%;
width: 100%;
background-size: cover; 
position: absolute;
opacity: .4;
}

.uploaded-recipes-background {
  background: url(/static/images/pet.jpg) no-repeat center center fixed;
  height: 100%;
  width: 100%;
  background-size: cover; 
  position: absolute;
  opacity: .4;
}

.search-results-background {
  position:absolute;
  background: url(/static/images/thailand.jpg) repeat;
  height: 200%;
  width: 100%;
  background-repeat: repeat;
  background-size: cover;  
  opacity: .4;
}

div.container.brand {
  padding-left: 0;
  margin-left:0; 
}


.form-control-large {
  line-height: 100px!important;
   width:400px;
}

.dropdown-menu {
  min-width: 15rem;
}

.share-or-learn {
  display: flex;
  align-items: center;
  margin-top: 100px;
}
/* Container needed to position the button. Adjust the width as needed */
.share-or-learn__image-container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.share-or-learn__image-container img {
  width: auto;
  height: 800px;
}

/* Style the button and place it in the middle of the container/image */
.share-or-learn__image-container button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #12b142;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


.share-or-learn__image-container button:hover {
  background-color: #80cee1;
}

.login__text {
  font-size:50px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-saverecipe-class {
  background-color: #9370DB!important;
}
/*
.search-results body { 
  padding-top: 10px;
}*/
.header-fix{
  padding-top: 90px;
}

.header-user-upload-fix{
  padding-top: 90px;
}

.header-saved-recipes-upload-fix{
  padding-top:90px;
}

.share-or-learn-header-fix {
  padding-top: 4px;
}

 
::-webkit-input-placeholder {
   text-align: center;
}
 

