 
@import "bootstrap-sprockets";
@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500i,900,900i');

#map {
  height: 100%;
}

html, body {
  margin-top: 100px;
  padding-top: 100px;
  height: 100%; 
  margin-top: 30px;
  padding: 0; 

}
 
.img-fluid{
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.top-left {
  position: absolute;
  top: 80px;
  left: 15px;
  color:white;
  font-size: 40px;
}
 
.imgButton{
    text-align:center;
}

.imgContainer{
    display: inline-block;
}

.card-deck {
  width: 18rem;
  text-align: center;
  display: flex;
}
 
body {
 font-family: 'Arvo', serif;
 font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Lato', sans-serif;
 font-size: 16px;
}
  
