<!doctype html>
<html>
<head>

  <link rel="shortcut icon" href="./static/img/travel_drop.ico"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<li> <a href="#">My Account </a></li>

    <title>    </title>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for error, message in messages %}
    <li class="alert alert-{{ error }}" role="alert"> {{ message }} </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
      {% block title %}{% endblock %}
  </head>
  <body> 
  <br>

    {% block content %}{% endblock %}
 
  </body>
</html>
