{% extends 'base.html' %}

{% block title %}Welcome to Recipspeeds{% endblock %}

{% block body %}

  <h1>Welcome!</h1>

  <h2>Navigation</h2>

  <ul>

    <form action ="/get-ingredient-and-time" method="POST">
      <div class="form-group">
        <label for="search-ingredient"> Ingredient </label>
        <br>
        <small class="form-text text-muted">
          What ingredient(s) would you like to cook with today?
        

        <input 
        id="search-ingredient"
        class="form-control"
        type="text"
        name="ingredient"
        >
    </div>

    <br>

    <div class="form-group">
      <label for="search-time">Time</label>
      <br>
      <small class="form-text text-muted">
      How much time(max) in minutes would you like to spend? 

        <input 
        id="search-time"
        class="form-control"
        type="text"
        name="time"
        >
    
      <input type="submit">

  </ul>

{% endblock %}