{% extends 'base.html' %}

{% block title %} Recipe Submitted {% endblock %}

{% block content %}

<li> <a href="#">My Account </a></li>
<li> <a href="/user_saved_recipes">Saved Recipes</a></li>
<li> <a href="/all_submitted_recipes"> All of my submitted recipes </a>
<li> <a href="/logout">Log Out </a></li>
<div> 
  <h1>Thanks for sharing your recipe   </h1>
 <b> your submission: </b>

{{ creating_recipe }}

{{ creating_recipe.image }}

<img src="{{ image }}"> 
 

 
</div>
 
<a href="/share"> Submit another recipe </a> 
<br>
<a href="/search"> Find a recipe </a>

{% endblock %}