{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %} 

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
 <a class="navbar-brand" href="/" style="max-width: 10%;">
        <img src="static/images/lemon.svg" width="30px">
 </a> 
    <a class="navbar-brand" href="/">Eureka</a>
    <ul class="nav navbar-nav flex-row justify-content-between ml-auto">   
          <li class="nav-item"><a href="/user_saved_recipes" class="nav-link">Saved Recipes</a></li>
          <li class="nav-item"><a href="/uploaded_recipes" class="nav-link">Uploaded Recipes</a></li>
          <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li> 
    </ul> 
</nav>

<div class="share-or-learn"> 
  <div class="share-or-learn__image-container">
    <img src="/static/images/cook.jpeg">
    <a href="/search"> <button>I want to find a recipe </button>
  </div>
  <div class="share-or-learn__image-container">
    <img src="/static/images/share.jpg"> 
    <a href="/share"><button> I want to share a recipe </button>
  </div>
</div>
 
   
{#     <tr>
        <td>
<div style="display:block;">
  <div class="imgContainer"> 
                <img src="/static/images/cook.jpeg" style="margin:0;" border="0"> 
            <div class="imgButton">
              <a href="/search" class="btn btn-primary" role="button"> I want to find a recipe! </a> 
            </div> 
        </td>
  <td> 
              <img src="/static/images/share.jpg" style="margin:0;" border="0"> 
            <div class="imgButton">
              <a href="/share" class="btn btn-primary" role="button">  I'd love to share a recipe!  </a>
        </td>
    </tr> 
</div> #}



<script type="text/javascript" src="/static/js/events.js"></script>

  

{% endblock %}