{% extends 'base.html' %}

{% block title %} Share recipe {% endblock %}

{% block content %}

<li> <a href="#">My Account </a></li>
<li> <a href="/user_saved_recipes">Saved Recipes</a></li>
<li> <a href="/logout">Log Out </a></li>


  <h1>Thanks for your interest in sharing a recipe! </h1>

  <ul>
      <form method="POST"/ action="/recipe_submitted">
        <label for="create_recipe_name"> Title of Recipe </label>
        <br>
        <small class="form-text text-success"> What you'd call your recipe </small>
         <input id="create_recipe_name" class="form-control" type="text" name="create_recipe_name">
    <br>
      <label for="recipe-course">Recipe Course </label>
      <br>
      <small class="form-text text-success"> Appetizer? Lunch? Dinner? 
      </small>
      <input id="recipe-course" class="form-control" type="text" name="recipe-course">

      <label for="prep-time"> Estimated prep time </label>
      <br>
      <small class="form-text text-success">  Prep time
      </small>
      <input id="prep-time" class="form-control" type="text" name="prep-time">

      <label for="cook-time"> Estimated prep time </label>
      <br>
      <small class="form-text text-success">  Cook time
      </small>
      <input id="cook-time" class="form-control" type="text" name="cook-time">

      <label for="total-cook-time"> Estimated total cook time  </label>
      <br>
      <small class="form-text text-success">  Preparion + Cook time
      </small>
      <input id="total-cook-time" class="form-control" type="text" name="total-cook-time">


      <label for="recipe-description"> Recipe Description  </label>
      <br>
      <small class="form-text text-success">  Share a line or two about the recipe! 
      </small>
      <input id="recipe-description" class="form-control" type="text" name="recipe-description">

        <label for="servings">  Serving Size </label>
      <br>
      <small class="form-text text-success">  Serving size
      </small>
      <input id="servings" class="form-control" type="text" name="servings">

      <label for="image">  image </label>
      <br>
      <small class="form-text text-success">  Upload a photo of your recipe!
      </small>
      <input id="image" class="form-control" type=file name="image">
      
       <script type="text/javascript">  
 <button id="upload_widget" class="cloudinary-button">Upload photos</button>

<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>  

<script type="text/javascript">  
var myWidget = cloudinary.createUploadWidget({
  cloudName: 'school-project-1234', 
  uploadPreset: 'my_preset'}, (error, result) => { 
    if (!error && result && result.event === "success") { 
      console.log('Done! Here is the image info: ', result.info); 
    }
  }
)

document.getElementById("upload_widget").addEventListener("click", function(){
    myWidget.open();
  }, false);
</script>
          
      <input type="submit" id="upload-recipe" value="upload-recipe">
     



      <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript">  
      </script>
      <script type="text/javascript">  
  $('#upload_widget_opener').cloudinary_upload_widget({ 
    cloudName: school-project-1234, 
    apiKey: 754584667974818,
    cropping: true, 
    uploadSignature: generateSignature}, (error, result) => { });
</script>

<button id="upload_widget" class="cloudinary-button">Upload files</button>

<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>  


    </form>
  </ul>

{% endblock %}