{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %} 

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
  <a class="navbar-brand" href="/" style="max-width: 10%;">
    <img src="static/images/favicon.ico" class="img-fluid">
 </a> 
    <div class="container">
        <a class="navbar-brand" href="/">Eureka</a>
                    <ul class="nav navbar-nav">               
                <li class="nav-item"><a href="/user_saved_recipes" class="nav-link">Saved Recipes</a></li>
                <li class="nav-item"><a href="/uploaded_recipes" class="nav-link">Uploaded Recipes</a></li>
                <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li> 
            </ul>
        </div>
    </div>
</nav>
 
  
<table>
    <tr>
        <td>
  <div class="imgContainer">
            <div>
                <img src="/static/images/cook.jpeg">
            </div>
            <div class="imgButton">
              <a href="/search" class="btn btn-info" role="button"> I want to find a recipe! </a> 
            </div>
     </div>
        </td>
  <td>
  <div class="imgContainer">
            <div>
                <img src="/static/images/share.jpg">
            </div>
            <div class="imgButton">
                <a href="/share" class="btn btn-info" role="button">  I'd love to share a recipe!  </a>
            </div>
     </div>
        </td>
    </tr>
</table>
<script type="text/javascript" src="/static/js/events.js"></script>

  

 

{% endblock %}