{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %} 

<h1> Registration Form </h1>

<div class="navbar-header">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
    <div class="container">
        <div class="container"> 
         <a class="navbar-brand" href="/" style="max-width: 10%;">
    <img src="static/images/favicon.ico" class="img-fluid">
 </a>
        <a class="navbar-brand" href="/">Eureka</a>
        </button>
    </div>
</nav>
</div>
 

<form method="POST"/ action="/register">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="username" name="username" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter username">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted"></small> 
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  <label for="phone-number">Phone Number</label>
    <input type="phone-number" name="phone-number" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Phone Number">
  <label for="location">Location</label>
    <input type="phone number" name="location" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Location">
    <button type="button" id="location-button"> get current location </button>
</div>
<br> 
<br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{# 
    <form method="POST"/ action="/register">
      <div class="form-group">
        <label for="login-form"> </label>
        <br>
        <small class="form-text text-info">
          Username
        </small>
         <input 
        id="username"
        class="form-control"
        type="text"
        name="username"
        required=True
        >
        <small class="form-text text-info">
          Email
        </small>
        <input 
        id="email"
        class="form-control"
        type="text"
        name="email"
        required=True
        ><small class="form-text text-info">
          Password
        </small>
          <input 
        id="password"
        class="form-control"
        type="password"
        name="password"
        required=True
        >
        <small class="form-text text-info">
          Phone Number
        </small>
        <label> </label>
          <input 
        id="phone-number"
        class="form-control"
        type="tel"
        name="phone-number"
        pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
        placeholder="6504559866"
        required=True
        >
        <div>
        <small class="form-text text-info">
          Location
        </small>
          <input 
        id="location"
        class="form-control"
        type="text"
        name="location" 
        >   
        <button type="button" id="location-button"> get current location </button>
        </div>
        <br>
        <input type="submit">
        </div>
    </form> #}
    
        <script src="/static/js/events.js"></script>
        <script     async defer     src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvxNaIsnOrt1SWWcl6k1kiz_tHwLwSVMk&callback=initGeocoder">  
{% endblock %}