{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block content %}

<div class="uploaded-recipes-background">
</div>

<div class="header-user-upload-fix">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
    <a class="navbar-brand" href="/" style="max-width: 10%;">
        <img src="static/images/lemon.svg" width="30px"> </a> 
          <a class="navbar-brand" href="/">Eureka</a>
             <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                <li class="nav-item"><a href="/search" class="nav-link">Find a recipe</a> </li>
                <li class="nav-item"><a href="/user_saved_recipes" class="nav-link">Saved Recipes</a> </li>
                <li class="nav-item"><a href="/logout" class="nav-link">Logout</a> </li> 
            </ul> 
</nav>

{% for recipe in uploaded_recipes %}
<div class="card" style="width: 18rem; text-align:center; display: inline-flex"> 
<span class="border border-warning"> 
  <img class="card-img-top" src="{{ recipe.image }}" alt="Card image cap">
    <div class="card-body">
    <p class="recipe-name">{{ recipe.create_recipe_name }} </p> 
    <p class="card-text">  {{ recipe.recipe_description }}  </p>
    <a href="{{ recipe.source_url }}" class="recipe-link"> Link to Recipe </a> 
    </div> 
</span> 
</div>
{# 
</div> #}

{% endfor %}
{% endblock %}